.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.8;
  left: 0;
  top: 0;
  z-index: 10000;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}
.authform{
  width: 50%;
}
.auth-form-header{
  font-size: 2rem;
  font-weight: bold;
}
.repo-details{
  font-size: 1rem;
  margin: 1rem;
  padding-top: 3rem;
}

.navbar{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color:black;
}
.finduser-comp{
  padding-top: 5rem;
  margin-left: 1rem;
  width: 80%;
}
.mylist-comp{
  padding: 5rem 2rem;
  
}
.profile-comp{
  padding: 4rem 2rem;
}
.one-bold{
  font-size: 1rem;
  font-weight: bold;
}
.mylist-comp .list{
  display: grid;
  grid-template-columns: auto auto auto;
}
.alertmessage{
  position: absolute;
  top:2.5rem;
  z-index: 10000;
  opacity: 0.8;
  width: 90%;
}
@media only screen and (max-width: 600px) {
  .mylist-comp{
    padding: 5rem 1rem;
    
  }
  .mylist-comp .list{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
  }
  .authform{
    width: 90%;
  }
  .profile-comp{
    padding: 4rem 1rem;
  }
  .img-pro{
    margin: 2rem;
  }
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #000000;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 1s linear infinite; 
  animation: spin 1s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}